
body {
    background-image: url(img/background3.jpg);
    color: white;
    font-family: "Comic Sans MS";
    font-size: 30px;
    text-align: center;

}
button {
    width: 60px;
    color: black;
    font-family:"Comic Sans MS";
}

h1 {
    font-family:"Comic Sans MS";
    text-align: center;
}
#horoscope {
    font-family: "Comic Sans MS";
    font-size: 30px;
    color: white;
    text-align: center;
}
#image {
    border: 10px black solid;
}